@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: whitesmoke;
  line-height: 1.7;
  font-size: 18px;
  background-color: rgb(204, 188, 204);
  background-image: url('https://unsplash.com/photos/oMpAz-DN-9I');
}

/* navbar  */
.navbar {
  background-color: rgb(204, 188, 204);
  display: flex;
  justify-content: center;
}

.link {
  color: rgb(27, 53, 102);
  text-decoration: none;
  margin-right: 28px;
}

.link:hover {
  color: palegoldenrod;
  transform: scale(1.1);
}

/* nasa-photo */

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
  background-color: rgb(204, 188, 204);
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .title {
  color: palegoldenrod;
  font-size: 16px;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .information {
  color: rgb(27, 53, 102);
  margin-left: 12px;
}

@media (max-width: 1200px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo .title {
    color: palegoldenrod;
    text-align: center;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0px;
    margin: bottom 30px;
  }

  .home-link {
    text-align: center;
    transform: scale(1.1);
    font-size: 20px;
  }
}

/* home */
.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 30px;
  display: inline-block;
  padding: 30px 30px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s ease all;
  color: rgb(27, 53, 102);
  border-style: solid;
  border-color: rgb(27, 53, 102);
}
.home-link:hover {
  color: palegoldenrod;
  transform: scale(1.1);
}
